<div class="row text-center">
    <div class="col-md-6">
        <div class="btn-group float-md-start mb-md-0 mb-2">
            <button
                class="btn btn-primary"
                (click)="decrement()"
                [disabled]="prevBtnDisabled">
                Poprzedni
            </button>
            <button class="btn btn-outline-secondary" (click)="today()">Aktualny</button>
            <button
                class="btn btn-primary"
                (click)="increment()"
                [disabled]="nextBtnDisabled">
                Następny
            </button>
        </div>
    </div>
    <div class="col-md-6">
        <h3 class="float-md-end">
            {{ viewDate | calendarDate:(view + 'ViewTitle'):locale:weekStartsOn }}
        </h3>
    </div>
</div>
<br />

<div [ngSwitch]="view">
    <mwl-calendar-month-view
        *ngSwitchCase="'month'"
        [viewDate]="viewDate"
        [events]="calendarEvents"
        [locale]="locale"
        [weekStartsOn]="weekStartsOn"
        (dayClicked)="dayClicked($event.day)"
        (beforeViewRender)="beforeMonthViewRender($event)"
        [cellTemplate]="customCellTemplate"
        [weekendDays]="weekendDays">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
        *ngSwitchCase="'week'"
        [viewDate]="viewDate"
        [events]="calendarEvents"
        [locale]="locale"
        [weekStartsOn]="weekStartsOn"
        [weekendDays]="weekendDays">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
        *ngSwitchCase="'day'"
        [viewDate]="viewDate"
        [events]="calendarEvents"
        [locale]="locale">
    </mwl-calendar-day-view>
</div>

<ng-template #customCellTemplate let-day="day" let-locale="locale">
    <div *ngIf="day.badgeTotal > 0" class="text-center text-secondary fw-bold mt-2">Dostępne terminy</div>
    <span class="cal-day-number text-right">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
</ng-template>