<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
        <div class="container-xxl">
            <a class="navbar-brand" href="#" [innerText]="title"></a>
            <button class="navbar-toggler" type="button"
                (click)="isCollapsed = !isCollapsed"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" [collapse]="!isCollapsed">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Wydarzenia</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="container-xxl">
        <router-outlet></router-outlet>
    </main>
</body>